@font-face {
    font-family: "Hail_Mary_Sans_v2";
    src: url("fonts/Hail_Mary_Sans_v2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Hail_Mary_Sans_v2", sans-serif;

}

#homePage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}
#backgroundImage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;


}
#imdbLink {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: end;
    position: fixed;
    padding: 25%;
    bottom: 20;
    right: 20;
    z-index: 10;
    
}

#logo {
}

#youtubeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px ;
    width: 100% ;

}

.pageButtons {

}

#synopsisText {
    display: flex;
    border: solid 1px white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 50%;
}
